#league-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#sidenav-container {
  flex: 1;
  margin-top: 64px;
}

#league-content {
  margin: 2em;
}
