<div id="league-container">
  <mat-sidenav-container id="sidenav-container">
    <mat-sidenav [mode]="'side'" [opened]="true">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/leagues', leagueId]">
          <mat-icon>dashboard</mat-icon>
          &nbsp;Dashboard
        </a>
        <a mat-list-item (click)="openCreateLeagueDialog()">
          <mat-icon>playlist_add</mat-icon>
          &nbsp;Create league
        </a>
        <a mat-list-item routerLink="/leagues">
          <mat-icon>swap_vert</mat-icon>
          &nbsp;Switch league
        </a>
        <a mat-list-item [routerLink]="['/leagues', leagueId, 'players']">
          <mat-icon>people</mat-icon>
          &nbsp;Players
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div id="league-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
