<div class="leagues">
  <mat-card>
    <mat-card-title>Select league</mat-card-title>
    <mat-card-content>
      <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let league of leagues" [value]="league.id" (click)="select(league.id)">
          {{league.name}}
        </mat-list-option>
      </mat-selection-list>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-icon-button matTooltip="Previous page" [disabled]="!pageInfo?.hasPreviousPage" (click)="loadPreviousPage()">
        <mat-icon>navigate_before</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Next page" [disabled]="!pageInfo?.hasNextPage" (click)="loadNextPage()">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </mat-card-actions>
    <mat-card-footer *ngIf="isLoading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
