<mat-card>
  <mat-card-title>
    <mat-icon>list_alt</mat-icon>
    Recently played games
  </mat-card-title>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="width-100p">
      <ng-container matColumnDef="datetime">
        <th mat-header-cell *matHeaderCellDef>Datetime</th>
        <td mat-cell *matCellDef="let game">
          <span>{{game.dateTime | date : 'EEE, dd-MM'}}</span>
          <span>{{game.dateTime | date : 'HH:mm'}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="players">
        <th mat-header-cell *matHeaderCellDef>Players</th>
        <td mat-cell *matCellDef="let game">
          <span>{{game.playerOneName}}</span>
          <span>{{game.playerTwoName}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef>Score</th>
        <td mat-cell *matCellDef="let game">
          <span>{{game.result.playerOneScore}}</span>
          <span>{{game.result.playerTwoScore}}</span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="3">No data</td>
      </tr>
    </table>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button matTooltip="Previous page" [disabled]="!pageInfo?.hasPreviousPage" (click)="loadPreviousPage()">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button mat-raised-button matTooltip="Next page" [disabled]="!pageInfo?.hasNextPage" (click)="loadNextPage()">
      <mat-icon>navigate_next</mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="openPlayGameDialog()">
      <mat-icon>play_circle_outline</mat-icon>
      Play game
    </button>
  </mat-card-actions>
  <mat-card-footer *ngIf="isLoading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
